* {
  margin: 0;
  padding: 0;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  width: 600px;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.1);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.tag,
.location {
  font-size: 22px;
}

.quantity {
  font-weight: bold;
}
