.statistics {
  width: 600px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: wheat;
  box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.starList {
  display: flex;
  justify-content: center;

  list-style: none;
}

.title {
  font-size: 28px;
  padding-bottom: 12px;
}

.titleNone {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
